@media only screen and (max-width: 500px) {
    html {
        zoom: 0.5; /* Works on Chrome/Android + Safari (except Firefox) */
    }
}

body {
    background-color: white;
}

h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 48px;
    text-align: center;
}

.big-title {
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 100px;
    display: none;
    position: relative;
}

.big-title.shown {
    opacity: 1;
    display: grid;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    /* this is your <img class="logo"> */
    width: 150px;
    height: auto;
    filter: none; /* starts black & white */
    transition: filter 0.5s ease;
    display: block;
    margin: 35px auto;
}

.logo:hover {
    filter: invert(1);
}

h2 {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    color: slategrey;
    font-size: 28px;
}

.bigbox {
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    row-gap: 100px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.bigbox.hidden {
    opacity: 0;
    pointer-events: none;
}

.image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 270px;
}

.main0 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-row-start: 0;
    grid-row-end: 1;
}

.main1 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-row-start: 1;
    grid-row-end: 2;
}

a:hover h2 {
    color: black;
}

.main2 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-row-start: 2;
    grid-row-end: 3;
}

.one {
    grid-column-start: 0;
    grid-column-end: 1;
}

.two {
    grid-column-start: 1;
    grid-column-end: 2;
}

.three {
    grid-column-start: 2;
    grid-column-end: 3;
}

.four {
    grid-column-start: 3;
    grid-column-end: 4;
}

.main3 {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    text-align: center;
    grid-row-start: 3;
}

.triple-one {
    grid-column-start: 0;
    grid-column-end: 1;
}

.triple-two {
    grid-column-start: 1;
    grid-column-end: 2;
}

.triple-three {
    grid-column-start: 2;
    grid-column-end: 3;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 2rem;
}

.main-header {
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-size: 32px;
    color: black;
}

.main-paragraph {
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-size: 24px;
    color: black;
}

.wwav-logo {
    filter: invert(1);
    width: 150px;
    height: 150px;
    filter: invert(1); /* starts black & white */
    transition: filter 0.5s ease;
    display: block;
    margin: 35px auto;
}

.wwav-logo:hover {
    filter: none;
}
