body {
    background-color: white;
}

h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 48px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover .title {
    color: royalblue;
}

h2 {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    color: slategrey;
}

.bigbox {
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    row-gap: 100px;
}

.image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 270px;
}

.main0 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-row-start: 0;
    grid-row-end: 1;
}

.main1 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-row-start: 1;
    grid-row-end: 2;
}

a:hover h2 {
    color: black;
}

.main2 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-row-start: 2;
    grid-row-end: 3;
}

.one {
    grid-column-start: 0;
    grid-column-end: 1;
}

.two {
    grid-column-start: 1;
    grid-column-end: 2;
}

.three {
    grid-column-start: 2;
    grid-column-end: 3;
}

.four {
    grid-column-start: 3;
    grid-column-end: 4;
}

.main3 {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    text-align: center;
    grid-row-start: 3;
}

.triple-one {
    grid-column-start: 0;
    grid-column-end: 1;
}

.triple-two {
    grid-column-start: 1;
    grid-column-end: 2;
}

.triple-three {
    grid-column-start: 2;
    grid-column-end: 3;
}
